/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif; /* Cambia a la fuente Louis George Café */
    text-align: center;
    background-color: #ededee;
    font-size: 18px;
    color: #333333;
}

h1 {
    color: #333333;
}

button:hover {
    background-color: #0056b3;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ededee;
}

#logo-container {
    width: 18%;
    display: flex;
    align-items: center;
}

#logo {
    width: 100%;
}

#header-text {
    flex-grow: 1;
    text-align: center;
    color: #333333;
}

#fecha-hora {
    text-align: right;
}

#cantidad-porcentaje-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.cantidad-personas,
.porcentaje-personas {
    border: 1px solid #333333;
    padding: 10px;
}


footer {
    background-color: #333333;
    color: #efefef;
    padding: 10px;
    text-align: center; /* Alinea el texto al centro */
    position: left;
    bottom: 0;
    width: 100%;
}

body, html {
    margin: 0;
    padding: 0;
}
/* Consulta de medios para pantallas pequeñas (como teléfonos) */
@media only screen and (max-width: 600px) {
    header {
        padding: 10px; /* Ajusta el espacio alrededor del encabezado para pantallas pequeñas */
    }

    #logo {
        width: 80%; /* Ajusta el ancho del logo para pantallas pequeñas */
    }

    h1 {
        font-size: 1.2em; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
    }
}