/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #ededee;
    font-size: 1.4vw; /* Tamaño de fuente en relación con el ancho de la ventana */
    color: #333333;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #333333;
    font-size: 2.0vw; /* Ajusta el tamaño de la fuente en relación con el ancho de la ventana */
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vw; /* Ajusta el relleno en relación con el ancho de la ventana */
    background-color: #ededee;
    width: 100%;
}

#logo-container {
    width: 18%;
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

#logo {
    width: 100%;
}

#header-text {
    flex-grow: 1;
    text-align: center;
    color: #333333;
}

#fecha-hora {
    text-align: center;
    margin-right: 3vw;
}





#cantidad-porcentaje-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw; /* Ajusta el espacio entre las cajas en relación con el ancho de la ventana */
    margin-top: 0.5vw; /* Ajusta el margen superior en relación con el ancho de la ventana */
}

.cantidad-personas,
.porcentaje-personas {
    border: 1px solid #333333;
    padding: 2vw; /* Ajusta el relleno en relación con el ancho de la ventana */
    margin-right: 8vw; /* Ajusta el margen derecho en relación con el ancho de la ventana */
    margin-left: 8vw; /* Ajusta el margen izquierdo en relación con el ancho de la ventana */
}

footer {
    background-color: #333333;
    color: #efefef;
    padding: 1vw; /* Ajusta el relleno en relación con el ancho de la ventana */
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9vw;
}

body, html {
    margin: 0;
    padding: 0;
}

/* Consulta de medios para pantallas pequeñas (como teléfonos) */
@media only screen and (max-width: 600px) {
    body {
        font-size: 3vw; /* Tamaño de fuente en relación con el ancho de la ventana */
        
    }
    header {
        display: grid;
        padding: 1vw; /* Ajusta el espacio alrededor del encabezado para pantallas pequeñas */
    }

    #logo-container {
        width: 100%; /* Ajusta el ancho del logo para pantallas pequeñas */
    }

    #logo {
        width: 100%; /* Ajusta el ancho del logo para pantallas pequeñas */
    }

    h1 {
        font-size: 2em; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
    }
    #fecha-hora {
        text-align: center;
    }
    
    #cantidad-porcentaje-container {
        display: grid;
        grid-template-columns: repeat(1fr, 2);
        gap: 1vw; /* Ajusta el espacio entre las cajas en relación con el ancho de la ventana */
        margin-top: 0.5vw; /* Ajusta el margen superior en relación con el ancho de la ventana */
    }
    .cantidad-personas,
    .porcentaje-personas {
        padding: 1vw; /* Ajusta el relleno en relación con el ancho de la ventana */
        margin-right: 5vw; /* Ajusta el margen derecho en relación con el ancho de la ventana */
        margin-left: 5vw; /* Ajusta el margen izquierdo en relación con el ancho de la ventana */
    }

    footer {
        
        font-size: 2vw;
    }
}
